body{
    margin: 0;
    padding: 0;
    font-family: "adobe-clean", sans-serif;
    box-sizing: border-box;
}
#wrapper{
    width: 80%;
    margin: 7%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#add{
    display: flex;
    align-items: center;
}
#task{
    font-weight: bolder;
    font-size: 55px;
}
span{
    font-weight: normal;
    color: #606060
}
#addtext{
    color: #606060;
    font-size: 30px;
}
#cards{
    display: flex;
    width: 90%;
    margin: 5% 7% 2% 7%;
    height: 50%;
    justify-content: space-around;
}
.todo{
    width: 19%;
    height: 90%;
    border-radius: 20px;
    border: 1px solid red;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.headtodo{
    color: tomato;
    margin: 10%;
    font-size: 23px;
    text-align: center;
}
hr{
    width: 80%;
}
.completed{

    font-size: 20px;
}
.completed p{
    text-align: center;
    color: tomato;
}
@media screen and (min-width: 320px ) and (max-width: 680px){
    #task{
        font-size: 40px;
    }
    #optional{
        display: none;
    }
    #addtext{
        display: none;
    }
    #cards{
        flex-direction: column;
    }
    .todo{
        height: 25%;
        width: 88%;
    }
    .headtodo{
        text-align: left;
    }
}